/*  typography */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

body {
  line-height: 1.7;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 18px;
  line-height: 1.8;
  font-family: $primary-font;
}

cite {
  font-weight: 800;
  display: block;
  font-size: 20px;
  margin-top:20px;
  color:$bright-color;
  font-style:normal;

}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  text-transform: uppercase;
  font-weight: 800 !important;
  line-height: 1.2;
}

h1, .h1{
  font-size: 48px;
}

h2, .h2{
  font-size: 38px;
}

h3, .h3{
  font-size: 32px;
}

h4, .h4{
  font-size: 22px;
  text-transform: none;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 15px;
}
