// Color Variables
$primary-color: #000;
$text-color: #000;
$text-color-dark: #222;
$bright-color: #3FFF87;
$body-color: #fff;
$border-color: #CBCBCB;
$black: #000;
$white: #fff;
$light: #FAFAFA;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$icon-font: 'FontAwesome';